<main>
  <div class="uk-container align-center">
    <button class="k-button k-primary" (click)="open($event)">+新增</button>
    <div class="k-overlay" *ngIf="active"></div>
    <kendo-window
      title="新增書籍"
      *ngIf="active"
      [width]="width"
      [height]="height"
      [draggable]="true"
      (dragEnd)="onDragEnd()"
      (close)="close()"
      [(top)]="windowTop"
      [(left)]="windowLeft"
    >
      <app-add-book (submit)="onSubmit($event)"></app-add-book>
    </kendo-window>
    <div class="uk-padding-small uk-padding-remove-horizontal">
      <app-book-grid [(gridData)]="gridData"></app-book-grid>
    </div>
  </div>
</main>
