<main>
  <div class="uk-container align-center">
    <div class="k-overlay" *ngIf="active"></div>
    <button class="k-button k-primary" (click)="toggleWindow(true)">+新增</button>
    <kendo-window
      title="新增書籍"
      *ngIf="active"
      [width]="windowWidth"
      [height]="windowHeight"
      [draggable]="true"
      (dragEnd)="adjustWindowPosition()"
      (close)="toggleWindow(false)"
      [(top)]="windowTop"
      [(left)]="windowLeft"
    >
      <app-add-book (submit)="addBookHandler($event)"></app-add-book>
    </kendo-window>
    <div class="uk-padding-small uk-padding-remove-horizontal">
      <app-book-grid [(gridData)]="gridData"></app-book-grid>
    </div>
  </div>
</main>
