<form class="k-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset class="k-form-fieldset">
    <img class="book-image" [src]="imgSrc" alt="" />
    <kendo-formfield>
      <kendo-label text="圖書類別"></kendo-label>
      <kendo-dropdownlist
        formControlName="BookCategory"
        [data]="categoryList"
        [valuePrimitive]="true"
        textField="text"
        valueField="value"
        (selectionChange)="onCategoryChange($event)"
      >
      </kendo-dropdownlist>
      <kendo-formerror>請選擇圖書類別</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
      <kendo-label text="書名"> </kendo-label>
      <kendo-textbox formControlName="BookName" [clearButton]="true">
      </kendo-textbox>
      <kendo-formerror> 請填寫書名 </kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
      <kendo-label text="作者"> </kendo-label>
      <kendo-textbox formControlName="BookAuthor" [clearButton]="true">
      </kendo-textbox>
      <kendo-formerror>請填寫作者</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
      <kendo-label text="購買日期"> </kendo-label>
      <kendo-datepicker
        formControlName="BookBoughtDate"
        [format]="'yyyy-MM-dd'"
        calendarType="classic"
      >
      </kendo-datepicker>
      <kendo-formerror>
        <div *ngIf="check('BookBoughtDate', 'required'); else checkDate">
          請選擇購買日期
        </div>
        <ng-template #checkDate>
          <div *ngIf="check('BookBoughtDate', 'boughtDate')">
            購買日期不得大於今天
          </div>
        </ng-template>
      </kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
      <kendo-label text="出版商"> </kendo-label>
      <kendo-textbox formControlName="BookPublisher" [clearButton]="true">
      </kendo-textbox>
      <kendo-formerror>請填寫出版商</kendo-formerror>
    </kendo-formfield>

    <div class="k-form-buttons">
      <button type="submit" class="k-button k-primary" [disabled]="!form.valid">
        新增
      </button>
    </div>
  </fieldset>
</form>
