<kendo-grid
  [kendoGridBinding]="gridData"
  [pageSize]="gridState.take||20"
  [skip]="gridState.skip||0"
  [pageable]="true"
  [sortable]="true"
  [height]="gridHeight"
  (remove)="removeBookHandler($event)"
  (dataStateChange)="onDataStateChange($event)"
>
  <ng-template kendoGridToolbarTemplate>
    <div class="book-grid-toolbar">
      <kendo-textbox
        class="book-grid-search search-box"
        placeholder="我想要找......"
        type="text"
        [clearButton]="true"
        [(value)]="searchTerms"
        (valueChange)="search()"
      />
    </div>
  </ng-template>
  <kendo-grid-column
    field="BookId"
    title="書籍編號"
    [width]="80"
  ></kendo-grid-column>
  <kendo-grid-column field="BookName" title="書籍名稱"></kendo-grid-column>
  <kendo-grid-column field="BookCategory" title="書籍種類"></kendo-grid-column>
  <kendo-grid-column field="BookAuthor" title="作者"></kendo-grid-column>
  <kendo-grid-column
    field="BookBoughtDate"
    title="購買日期"
  ></kendo-grid-column>
  <kendo-grid-column field="BookPublisher" title="出版商"></kendo-grid-column>
  <kendo-grid-command-column title=" " [width]="120">
    <ng-template kendoGridCellTemplate let-isNew="isNew">
      <button kendoGridRemoveCommand [primary]="true" class="k-button">
        刪除
      </button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>
